@mixin container {
  max-width: rem(1440);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: rem(16);
  padding-right: rem(16);
}

@mixin wrapper {
  width: 100%;
  padding-left: rem(16);
  padding-right: rem(16);

  @include media-breakpoint-up(md) {
    padding-left: rem(24);
    padding-right: rem(24);
  }
}
