.first{
    $root: &;

    @include background(cover, bottom);
    @include media-breakpoint-down(md) {
        padding-bottom: rem(200);
    }
    display: flex;
    .button {
        @include media-breakpoint-down(md) {
            width: 100%;
            padding-top: rem(16);
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        justify-content: space-evenly;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    min-height: rem(800);

    @include media-breakpoint-down(md) {
        min-height: rem(500);
    }

    @include media-breakpoint-down(sm) {
        min-height: rem(400);
    }
}
